html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "IM Fell Great Primer", serif;
  font-family: "Rhodium Libre", serif;
}
main {
  /* position: relative; */
  /* margin-top: 40px; */
  background-color: whitesmoke;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

h2,
h3,
h4 {
  text-align: center;
}
p {
  margin: 0;
}
a {
  line-height: 0.6rem;
}

#nav {
  position: fixed;
  right: 0;
  top: 4px;
}
.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 34px;
  background-image: linear-gradient(rgb(32, 32, 32), rgb(70, 73, 75));
}
#nav > li {
  list-style: none;
  display: inline;
  font-size: 1.2rem;
  margin-right: 40px;
}
.a-nav {
  color: whitesmoke;
  text-decoration: none;
}
.a-nav:hover {
  color: whitesmoke;
  text-decoration: underline darkgray 3px solid;
}
#logo-div {
  /* position: relative; */
  width: 100%;
  margin-top: 20px;
}

.logo {
  /* position: relative; */
  max-width: 300px;
  font-size: 30px;
  transform: rotate(-12deg);
  text-shadow: 9px 10px 3px rgb(50, 53, 51);
  color: whitesmoke;
  text-align: center;
}

.section {
  width: 100%;
  height: fit-content;
  padding: 50px 20px;
}
.about-me,
.portfolio {
  height: inherit;
}
#about-me {
  background-color: #9cb19f;
}
#about-me p {
  box-shadow: -2px -2px 12px rgb(70, 73, 75);
  padding: 12px;
  background-color: whitesmoke;
}

.description {
  box-shadow: -1px -1px 8px black;
  padding: 12px;
  background-color: whitesmoke;
}

#intr {
  background-color: rgb(4, 18, 22);
}
#vet-listing {
  background-color: rgb(236, 236, 236);
}
#tournament-listing {
  background-color: rgb(216, 216, 216);
}
#dobble-listing {
  background-color: rgb(196, 196, 196);
}
.portfolio {
  background-color: whitesmoke;
}
.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  width: 350px;
  padding: 15px 15px 15px 15px;
  margin: 25px;
  background-color: #e0e3e9;
  box-shadow: 20px 15px 15px #aaaaaa;
}
.portfolio-box:hover {
  box-shadow: 5px 5px 10px #696965;
  background-color: white;
  transition: all 1s ease-out;
}
.portfolio-images {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.v {
  transform: rotate(3deg);
}
.t {
  transform: rotate(-3deg);
}
.d {
  transform: rotate(3deg);
}

.caption {
  text-align: center;
}

.show {
  text-decoration: none;
  color: black;
  position: relative;
  margin-bottom: 15px;
}
.show-more {
  float: left;
}
.show-github {
  float: right;
}
.show:hover {
  color: black;
  font-weight: bolder;
}
/* .show-github-div {
  background-color: green;
  display: flex;
} */

.button-link {
  background-color: #839b97;
  width: auto;
  height: 25px;
}
.button-link:hover {
  /* transition: all 1s ease; */
  font-weight: bolder;
  background-color: rgb(144, 187, 170);
}
/* .listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
} */

#listing-heading {
  text-shadow: gray 4px 6px 8px;
}

.vid-img-listing {
  /* border: solid 5px black; */
  /* border-radius: 25px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.video-box {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}
.figure-caption {
  text-align: center;
  font-weight: bold;
}
.video {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.fab {
  font-size: 50px;
  margin-right: 5px;
}
.fa-linkedin {
  color: #2867b2;
}
.fa-github-square {
  color: black;
}
.fa-twitter-square {
  color: #00acee;
}

#contact {
  position: relative;
  border-top: solid 4px whitesmoke;
  height: 320px;
  background-image: url("images/PANO_scotland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#contact-items {
  position: absolute;
  top: 12%;
  right: 1%;
}
#contact h3 {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bolder;
  width: 320px;
  text-align: right;
  background-color: whitesmoke;
}

/* .contact-logos {
  /* width: 14px; */
/* margin: 0 auto;
  margin-right: 6px;
} */
*/ .container {
  padding: 0;
}
.row {
  margin-bottom: 30px;
}
.each-col {
  margin-bottom: 10px;
}
.card {
  box-shadow: 8px 10px 15px darkgrey;
  background-color: whitesmoke;
}

footer {
  padding: 30px;
  background-image: linear-gradient(rgb(32, 32, 32), rgb(70, 73, 75));

  color: white;
}
footer p {
  text-align: center;
}

@media (max-width: 576px) {
  .d-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .listing {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .custom-class,
  .listing {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .each-col {
    width: fit-content;
  }
}

@media (max-width: 768px) {
}

/* @media screen and (min-width: 980px) {
  .portfolio-box {
    width: 390px;
    margin: 20px;
  } */
