html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: "IM Fell Great Primer", serif;
  font-family: "Rhodium Libre", serif;
}
main {
  margin-top: 40px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h2,
h3 {
  text-align: center;
}
p {
  margin: 0;
}

#logo-div {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 0.5rem;
}

#logo {
  /* position: relative; */
  max-width: 300px;
  font-size: 28px;
}
/* #logo > a {
  text-decoration: none;
  color: black;
} */

#nav {
  position: fixed;
  right: 0;
  top: 4px;
}
.nav-wrapper {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(rgb(50, 53, 51), rgb(70, 73, 75));
}
#nav > li {
  list-style: none;
  display: inline;
  font-size: 1.2rem;
  margin-right: 40px;
}
.a-nav {
  color: whitesmoke;
  text-decoration: none;
}
.a-nav:hover {
  color: whitesmoke;
  text-decoration: underline darkgray 3px solid;
}

.section {
  width: 100%;
  height: fit-content;
  padding: 35px 15px;
}
.about-me {
}
.about-me,
.portfolio {
  height: inherit;
}

.portfolio {
  background-color: #f4f4f2;
}
.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  width: 350px;
  padding: 15px 15px 15px 15px;
  margin: 25px;
  background-color: #bbbfca;
  box-shadow: 15px 20px 15px #aaaaaa;
}
.portfolio-box:hover {
  box-shadow: 5px 5px 10px #696965;
  background-color: white;
  transition: all 1s ease-out;
}
.portfolio-images {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
}

.v {
  transform: rotate(3deg);
}
.t {
  transform: rotate(-3deg);
}
.d {
  transform: rotate(3deg);
}

.caption {
  text-align: center;
}

.show {
  text-decoration: none;
  color: black;
  position: relative;
  margin-bottom: 15px;
}
.show-more {
  float: left;
}
.show-github {
  float: right;
}
.show:hover {
  text-decoration: underline;
}
#show-github-div {
  padding: 3px;
  width: fit-content;
  float: right;
}

button {
  width: 300px;
}

.listing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  margin-bottom: 70px;
}

.vid-img-listing {
  box-shadow: 15px 15px 10px #aaaaaa;
  border: 2px grey solid;
}
.vid-img-listing:hover {
  transition: all 1s ease-out;
}
.fab {
  font-size: 45px;
}
.fa-linkedin {
  color: #2867b2;
}
.fa-github-square {
  color: black;
}
.fa-twitter-square {
  color: #00acee;
}

#contact-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.contact-logos {
  width: 25px;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .listing {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 980px) {
  .portfolio-box {
    width: 390px;
    margin: 20px;
  }
}
