body {
    background-image: "images/RZ_background_edi.png";
}
#name-image {
    width: 180px;
    height: 80px;
    border: solid black 0.1rem;
}
nav ul li {
    display: flex;
    margin-right: 8rem;
}
nav {
    width: 100%;
}
ul {
    
}

#header-container {
    border: solid black 0.1rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 5;
}

.header-item {
    display: flex;
    flex-flow: row wrap;
    border: solid black 0.1rem;
}


@media screen and (max-width: 600px){
    nav ul {
        display: none;
    }
}

@media screen and (min-width: 580px) {
    #b1 {
        display: none;
    }
}
